<!-- File: app.component.html
Author: Zentai Pál
Copyright: 2022, Zentai Pál
Group: Szoft-II-N
Date: 2022-12-27
Github: https://github.com/Pali002
Licenc: GNU GPL  -->

<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="light-theme">
  <table class="table">
    <thead>
      <tr>
        <th>Név</th>
        <th>Megye</th>
        <th>Terület(km²)</th>
        <th>Népesség(Fő)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of cities">
        <td>{{ city.name }}</td>
        <td>{{ city.county }}</td>
        <td>{{ city.area }}</td>
        <td>{{ city.population }}</td>
      </tr>
    </tbody>
  </table>
  {{[name, class, date]}}
</body>
</html>